<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284283765203-m2m78un79q288e50b7i5uhv0mmc9n8f6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284283765203-m2m78un79q288e50b7i5uhv0mmc9n8f6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>284283765203-qd7phjnjnddbrdilsb508cfpug904pis.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBNcN2Vhd0THSoKe2zRm1nf3_XMz9gcVkM</string>
	<key>GCM_SENDER_ID</key>
	<string>284283765203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yaio</string>
	<key>PROJECT_ID</key>
	<string>yaio-ab5c1</string>
	<key>STORAGE_BUCKET</key>
	<string>yaio-ab5c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284283765203:ios:dc389d939fc8d5a23e2f26</string>
	<key>DATABASE_URL</key>
	<string>https://yaio-ab5c1.firebaseio.com</string>
</dict>
</plist>